<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gateway_auth.title %>
</p>

<%= link_to 'Edit', edit_gateway_auth_path(@gateway_auth) %> |
<%= link_to 'Back', gateway_auths_path %>
